# PostgreSQL — used for both source (raw_schema) and target (staging_schema)
POSTGRES_USER=etl_user
POSTGRES_PASSWORD=etl_pass
POSTGRES_DB=etl_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DSN=postgresql+psycopg2://etl_user:etl_pass@localhost:5432/etl_db

# reqres.in API key  (sign up at https://reqres.in to get one)
API_TOKEN= "Key"
